@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

$font-averia:'Averia Serif Libre', cursive;
$font-roboto:'Roboto', sans-serif;

$default-font-size: 1.8rem;

//COLOR
$color-primary: #241615;
$color-secondary: #A13F36;
$light-blue: #4494AF;
$dark-blue: #1C536A;
$white: #F9F9F9;
$black: #000;
$grey: #C4C4C4;
$google-blue: #4285f4;
$google-active-blue:#1669F2;

$box-shadow-brown: rgba(36,22,21,.3);
$box-shadow-black: rgba(0,0,0,.3);


