@import '../sass/variables';

.content {
  min-height: 100vh;
}
.headerText{
  width: 100%;
  height: 40rem;
  padding: 8rem 30rem;
  & p {
    font-size: 2rem;
    font-family: $font-averia;
    color: $white;
  }
}
.hero {
width: 100%;
height: 60rem;
padding: 2rem 8rem;
margin-bottom: 10rem;
}
.imgContainer{
  width: 100%;
  height: 60rem;
  position: relative;
}
.storySection {
  display: flex;
  flex-direction: column;
  padding: 0rem 4rem;
  margin-bottom: 10rem;
  & h1 {
    font-size: 5rem;
    font-family: $font-averia;
    color: $light-blue;
    margin-bottom: 5rem;
  }
}
.storyCont {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(40rem,1fr));
gap: 5rem;
}
.mainCard {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: 5rem;
  width: 100%;
  height: 70rem;
  box-shadow: 1rem 3rem 3rem $box-shadow-black;
  & h1 {
    margin: 0;
  }
  & h4 {
    font-size: 2rem;
    color: $color-secondary;
  }
  & h6 {
    font-size: 1.5rem;
  }
}
.cardTitle{ 
  margin: 0;
}
.cardText {
  font-size:1.8rem;
  text-indent: 4rem;
}
.imgCardCont {
  position: relative;
  width: 100%;
  height: 35rem;
  background-color: green;
}
.readMoreBtn {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  font-size: 1.8rem; 
}
.storyCards {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  background-color: indianred;
  width: 100%;
  height: 32.5rem;  
  padding: 3rem;
}
.mb_5 {
  margin-bottom: 5rem;
}